.start_main {
    min-height: 100vh;
    width: 100vw;
    background: #2B334F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start_head_part {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.start_head_part img {
    max-width: 250px;
}


.start_head_part_content {
    position: absolute;
    display: flex;
    align-items: center;
    height: 110px;
}

.start_car_part {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/img/startPageCar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.start_car_part img {
    width: 100%;
}

.start_button {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 30vw;
    min-width: 300px;
    background-color: #F5C257;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    margin-bottom: 100px;
    cursor: pointer;
}

.start_button:active {
    transform: translateY(2px) scale(0.995);
}

@media (max-width: 1000px) {
    .start_button {
        height: 85px;
        margin-bottom: 70px;
    }
}

@media (max-width: 670px) {
    .start_button {
        height: 75px;
        margin-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .start_button {
        height: 60px;
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
    .start_button {
        min-width: 250px;
        font-size: 19px;
    }
}

@media (max-height: 700px), (min-width: 1200px) {
    .start_button {
        bottom: 5px;
    }
 }