.CarSlideContainer {
    width: 100%;
}

.CarSlide {
    width: 80% !important;
    height: 320px;
    margin-inline: auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.CarSlideContainer .slick-slide {
    outline: none !important
}

@media only screen and (max-width: 1024px){
    .CarSlide {
        height: 233px;
    }
}

@media only screen and (max-width: 480px){
    .CarSlide {
        height: 170px;
    }
}