.Container{
    padding: clamp(14px, 480px, min(2vw, 19px))
    clamp(21px, 480px, min(2vw, 41px))
    clamp(14px, 480px, min(2vw, 19px))
    clamp(20px, 480px, min(2vw, 30px));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.Inner{
    display: flex;
    align-items: center;
    gap: 17px;
}

.Image{
    width: clamp(25px, 480px, min(3vw, 30px));
    height: clamp(25px, 480px, min(3vw, 30px));
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image img{
    max-width: 100%;
    max-height: 100%;
}

.Title{
    font-size: clamp(14px, 768px, min(2vw, 18px));
    line-height: 22px;
    text-transform: uppercase;
    transition: .5s linear;
}

.Text{
    width: 200px;
    padding-right: clamp(105px, 480px, min(2vw, 125px));
    font-size: clamp(14px, 768px, min(2vw, 18px));
    line-height: 22px;
    transition: .3s linear;
}

@media screen and (max-width: 768px) {
    .Text{
        width: 130px;
    }
}

@media screen and (max-width: 480px) {
    .Text{
        width: 110px;
    }
}