.sliderItem {
    width: 100%;
    padding: 30px 30px 40px;
    background-color: #fff;
    border-radius: 20px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    flex: 70%;
    text-align: left;
}

.title input {
    width: 100%;
    font-size: 20px;
    border: none;
    font-weight: 700;
    color: #000;
    outline: none;
}

.inputfile {
    display: none;
}

.previewImg {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #C4C4C4;
    position: relative;
}

.previewImgUpload {
    background: rgba(43, 51, 79, 0.87);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    color: white;
}

.progressbar {
    padding: 8px 13px 0;
}

.previewImg img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.inputfile + label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #2B334F;
    border-radius: 6px;
    font-size: 10px;
    color: white;
    cursor: pointer;
}

.description {
    width: 100%;
    margin-top: 22px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    padding: 10px;
}

.dots {
    background: #C4C4C4;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 20px 8px;
    border-radius: 100%;
}

.dotsActive {
    background: #F5C257;
}