.wrapper {
    margin-top: 40px;
}

.list {
    list-style: none;
    padding: 0 12px;
    max-height: 75vh;
    overflow: auto;
}

.backDrop {
    background-color: rgba(43, 51, 79, 0.86) !important;
    opacity: 0.86 !important;
}

.item,
.btnItem {
    width: 100%;
    height: 70px;

    background: #FFFFFF;
    box-shadow: 0 4px 0 #BBC7DD, inset 0 4px 0 rgba(255, 255, 255, 0.25);
    border-radius: 10px;

    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .5s;
    position: relative;
    z-index: 1;
}

.damage {
    border-left: 13px solid #2B334F;
}

.active {
    background: #F5C257;
    color: white;
    box-shadow: 0 4px 0 #BF9C51, inset 0 4px 0 rgba(255, 255, 255, 0.25);
}

.item:last-child {
    margin-bottom: 0
}

.primary {
    margin-top: 5px;
    background: #2B334F;
    border-radius: 10px;
    width: calc(100% - 12px - 10px);
}
.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background: #F5C257;
    border-radius: 4px;
}

.closeIcon {
    position: absolute;
    right: -40px;
    top: -12px;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .modal {
        width: 60%;
        padding: 30px 80px;
    }
}

@media screen and (max-width: 700px) {
    .modal {
        width: 70%;
        padding: 30px 60px;
    }
}

@media screen and (max-width: 500px) {
    .modal {
        width: 80%;
        padding: 30px;
    }
}

.prevIcon,
.nextIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prevIcon {
    left: -20px;
}

.nextIcon {
    right: -20px;
}

.trashIcon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.modalInput {
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline: none;
    width: 100%;
    padding: 15px;
}

.modalInput.error {
    border: 1px solid #FF4B4B;
}