.Edit{
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    transition: 20ms linear;
    color: inherit;
}

.Edit:active{
    outline: none;
    transform: translateY(2px);
}

@media screen and (max-width: 768px){
    .Edit svg{
        width: 20px !important;
        height: 20px !important;
    }
}