.MainContainer {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #EDF2FF;
    padding: 36px 30px 30px 110px;
}

.H3 {
    margin-bottom: 23px;
}

.Loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
}

.Loading:before {
    content: "Loading";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px){
    .MainContainer {
        padding: 18px 15px 15px 95px;
    }
}