@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {

  /* Font Family Start */
  --LatoFamily: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* Font Family End */

  /* White Design Start */
  --Primary: #F5C257;
  --PrimaryShadow: 0px 4px 0px #BF9C51, inset 0px 4px 0px rgba(255, 255, 255, 0.25);
  --PrimaryTap: #DF9700;
  --PrimaryTapShadow: 0px 4px 0px #B97D00, inset 0px 4px 0px rgba(255, 255, 255, 0.25);

  --Second: #2B334F;
  --SecondShadow: 0px 4px 0px #131724, inset 0px 4px 0px rgba(255, 255, 255, 0.25);
  --SecondTap: #161C32;
  --SecondTapShadow: 0px 4px 0px #131724, inset 0px 4px 0px rgba(255, 255, 255, 0.25);

  

  --NoActive: rgba(57, 69, 111, 0.3);
  /* White Design End */

  /*  Dark Design Start */
  --Basic: rgba(48, 59, 88, 0.45);
  /*  Dark Design End */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--LatoFamily);
  font-weight: 400;
}

body {
  margin: 0;
  font-family: var(--LatoFamily);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: var(--LatoFamily);
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 40px;
  border: none;
  outline: none;
  transition: .3s linear;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.primary {
  background-color: var(--Primary);
  box-shadow: var(--PrimaryShadow);
}

button.disabled {
  background: rgba(57, 69, 111, 0.3);
  user-select: none;
  box-shadow: none;
}

button.transparent {
  background-color: var(--NoActive)
}

button.primary:hover, button.primary:active {
  background-color: var(--PrimaryTap);
  box-shadow: var(--PrimaryTapShadow);
}

button.second {
  background-color: var(--Second);
  box-shadow: var(--SecondShadow);
}

button.second:hover, button.second:active {
  background-color: var(--SecondTap);
  box-shadow: var(--SecondTapShadow);
}

button.disable {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--NoActive);
}

.bg-primary {
  background-color: var(--Primary)
}

.bg-second {
  background-color: var(--Second);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.customText{
  color: #2B334F;
}
