.DamageShow{
    padding: clamp(11px, 480px, min(2vw, 14px))
    clamp(21px, 480px, min(2vw, 41px))
    clamp(11px, 480px, min(2vw, 14px))
    clamp(20px, 480px, min(2vw, 30px));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.Inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.Title{
    display: flex;
    align-items: flex-start;
    gap: 57px;
}

.Title p:first-child{
    width: 150px;
}

.Title p:last-child{
    font-size: 20px;
    line-height: 24px;
}

.Images{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.Images img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}